sudo: false
language: python
dist: trusty
env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip
    - PIP_FIND_LINKS=$HOME/.cache/pip
python:
  - "2.7"
  - "3.5"
cache:
  directories:
    - $HOME/.cache/pip/
install:
  - pip install -U pip
  - pip install -r requirements-dev.txt
  - pip install -e .[test]
script:
  - py.test --cov mbtiles --cov-report term-missing
after_success:
  - coveralls
